@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Test Web Page";
}

<h1>Hello Guest!</h1>
<br/>
<font color='green'>MySQL 5.6.20</font> and <font color='red'>PHP 5.5.16</font> are both installed on this server, as well as FTP capabilities with <font color='purple'>VSFTPD</font>.
  Servers for both <font color='blue'>TeamSpeak</font> and <font color='gray'>Wolfenstein: Enemy Territory</font> are running as well!
  This entire page is brought to you via <font color='red'>PHP</font>.
  Important links and links to Web Apps help docs below...
</br>
</br>
&nbsp&nbsp<ol>
    <li><h3><a href='http://www.teamspeak.com/?page=downloads' target='_blank'>TeamSpeak Server</a>: Connect here: taser83ts.ddns.net</h3></li>
    <li><h3><a href='./WolfETInstallHelp.html'>How To Install Wolfenstein: Enemy Territory</a></h3></li>
    <li><h3><a href='./GameList.html' target='_parent'>My Gaming & Amiibo Collection</a>(Approximately 95% complete)<a href='./AngularGameAmiiboList.html' target='_parent'>Try the AngularJS version!</a></h3></li>
    <li><h3><a href='./MiscFiles/Rolodex Address Book - Android Studio Version.apk'>Download RAB for Android</a></h2></li>
    <li><h3><a href='./SignGuestbookV2.html' target='_parent'>Sign the GuestBook to let me know you were here!</a></h3></li>
    <li><h3><a target='_top' href='./Final Project V3/index.php'>Index.php of my old website (UNDER RECONSTRUCTION)</a></h3></li>
<br/>
<br/>
    </ol>
</br>