@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "How to set up MySQL users/passwords, & install Sakila Database";
}
Start the mysql server and run it in the background
<br />
<a href="http://dev.mysql.com/doc/refman/5.5/en/starting-server.html">Starting and Troubleshooting the MySQL Server</a>
<pre>
	bin/mysqld_safe --user=<i>YOUR USER ID</i> &
</pre>
Log on as root ( this is root for mysql NOT for linux ). The script above setup some initial accounts and passwords.  It setup so that root could log on without a password.
<pre>
	bin/mysql -uroot
</pre>
Once we have logged on we can see what databases we have access to
<pre>
<b>mysql-prompt></b>show databases;
</pre>
And we can connect to the mysql database so that we can change the root's password
<pre>
<b>mysql-prompt></b>use mysql;
</pre>
Then we can see what tables are available in the mysql database:
<pre>
<b>mysql-prompt></b>show tables;
</pre>
And we can see what fields are in the user table
<pre>
<b>mysql-prompt></b>describe user;
</pre>
And see who is currently in the user table, their hosts and encrypted passwords
<pre>
<b>mysql-prompt></b>select user, host, password from user;
</pre>
There are probably four accounts for user root with no password and two anonymous local accounts with no password.
<br />
<a href="http://dev.mysql.com/doc/refman/5.5/en/default-privileges.html">Securing the Initial MySQL Accounts</a>
<br />
We need to at least assign a password for the root accounts
<pre>
<b>mysql-prompt></b>SET PASSWORD FOR root@@'<i>the host entries from the above select results'</i> = PASSWORD('<i>the password to assign</i>');
</pre>
After a command for each of the hostnames, we need to make these changes take effect
<pre>
<b>mysql-prompt></b>FLUSH PRIVILEGES'
</pre>
The next time you want to log on as root you will have to add -p to the command from above and mysql will prompt for the password you assigned.
<br />
To exit mysql
<pre>
<b>mysql-prompt></b>exit;
</pre>

Download the sakila database from: <a href="http://dev.mysql.com/doc/index-other.html">sakila database</a>
<br>
Install the sakila database as per: <a href="http://dev.mysql.com/doc/sakila/en/sakila.html#sakila-installation">installation</a>
<br />
You <b>may</b> want to log on and explore it a little.
<br />
Some information on setting up users in mysql and granting them permissions in mysql, on databases, on tables, etc, with which you will want to become familiar:<a href="http://dev.mysql.com/doc/refman/5.5/en/account-management-sql.html">users and permissions</a>
<br>
Let us set up a user that can do select statements on the sakila database.
<br />
First log on as root
<pre>
	bin/mysql -uroot -p
</pre>
Create and grant select privileges on all of the tables in sakila to a new user 'CS_4143' with password 'CS_4143'
<pre>
<b>mysql-propmpt></b>GRANT SELECT ON sakila.* TO 'CS_4143'@@'%' IDENTIFIED BY 'CS_4143';
<b>mysql-propmpt></b>FLUSH PRIVILEGES;
</pre>
I'll say some words here.
<pre>
<b>mysql-propmpt></b>GRANT SELECT ON sakila.* TO 'CS_4143'@@'localhost' IDENTIFIED BY 'CS_4143';
<b>mysql-propmpt></b>FLUSH PRIVILEGES;
</pre>
