@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Web Apps help Docs";
}

<section>
    <h2>Web Apps help Docs</h2>
    &nbsp&nbsp<ol>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Edit_PATH_And_CLASSPATH">How to edit the system's PATH & CLASSPATH</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Install_Java_And_MySQLConnector">HowTo Install Java & The MySQLConnector</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Check_For_Bad_Softlinks">How to check for bad softlinks</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Install_Apache_Tomcat">How to install Apache Tomcat</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Get_Started_With_Tomcat">How to get started with Tomcat</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Get_Started_With_Tomcat_Servlets">How to get started with Tomcat Servlets</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Install_Apache_PHP_And_MySQL">How to install Apache, PHP & MySQL</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_Run_Apache_At_Startup">How To Run Apache & MySQL At Startup & Set Up No-IP</a></h3></li>
        <li><h3><a asp-area="" asp-controller="WebAppsHelpDocs" asp-action="HowTo_SetUp_MySQL_Password_And_Databases">How to set up MySQL users/passwords, & install Sakila Database</a></h3></li>
        <li><h3><a>PHP test (BROKEN)</a></h3></li>
        <li><h3><a href="~/SiteResources/PHPtest.txt">PHP test source code</a></h3></li>
    </ol>
</section>